
body{
	text-align: center;
	background-color: #EEE;
}
/*give image a standard width, height, rounded corners, centered margin, and shadow around image*/
.img-rounded{
	width: 50%;
	height: 50%;
	border-radius: 25px;
	margin: 0 auto;
	box-shadow: 10px 10px 5px grey;
}

h1{
	font-size: 28px;

}

h3 {
	font-size: 18px;
}
/*google font linked and given to all text on document*/
h1, h3, p{
	font-family: 'Spectral SC', serif;
}

